@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
}
::selection{
    background: #0099cc;
    color: #f2f2f2;
 }

.wrapper{
  width: 40vh;
  height: 50vh;
  background: #f2f2f2;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #383838;
  user-select: none;
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #0099cc;
}
.wrapper form .field input:focus::placeholder{
  color: transparent;
}

form .field input[type="submit"]{
  color: #f2f2f2;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color:	#0099cc;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
#button {
    margin-top: 10%;
}

