{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<div class="card-columns">
    <div class="card bg-primary"><a href="{{ url_for('form') }}">
      <div class="card-body text-center">
        <p class="card-text">Front End tasks</p>
      </div>
      </a>
    </div>
 
    <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Input</p>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Process</p>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Output</p>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Customer Inspection</p>
        </div>
      </div>
     
  
 
  </div>

{% endblock %}
