{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>
<div class="card-columns">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Front End tasks</p>
      <form>
        <div class="form-row">
          <div class="col">
            <label for="department">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
        </form>
        <!--form end -->
        <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
      <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
      </form>
    <form>
        <div class="form-row">
          <div class="col">
            <label for="inputEmail4">Stores</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
          </div>
        </div>
        
      </form>
    </div>
  </div>
  
  <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Input</p>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="department">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
          </form>
          <!--form end -->
          <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
          
        </form>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Process</p>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="department">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
          </form>
          <!--form end -->
          <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
        </form>
      <form>
          <div class="form-row">
            <div class="col">
              <label for="inputEmail4">Stores</label>
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
            <div class="col">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option1" name="choice">
            </div>
          </div>
          
        </form>
      </div>
    </div>
</div>
{% endblock %}
