<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.css">
        <title>SIPOC Login</title>
    </head>

    <body>
        <div class="wrapper"> <!-- Container in order to avoid text sticking to the edges of the page -->  
            <div class="title">
                SIPOC Database
            </div>   
            <form action="#">
                <div class="field">
                    <input type="text" placeholder="Username" id="username" name="username" required="">
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" id="password" name="password" required="">
                </div>
                <div class="field" id="button">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>

</html>

